<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <style>
        .conteudo img{
            width: 300px;
        }
    </style>
</head>
<body>
    <div class="container shadow-lg p-3 mb-5 mt-5 bg-white rounded">
        <div class="card">
            <div class="card-header bg-dark text-light text-center">
                <h2 >Encontre um endereco pelo CEP</h2> <br>
                <h3> ou</h3> <br>
                <h2>Um GitHub pelo Usuário</h2>

            </div>
    
            <div class="card-body bg-secondary">
                <form action="/envia-cep" method="POST">
                    <div class="form-group">
                              <label class="text-light text-center h3 " for="cep"> Digite um Cep</label>
                              <input class="form-control" type="text" name="cep" id="cep">
                              <input type="submit" class="btn btn-dark btn-lg" value="Buscar">
                    </div>
                    </form>
                 <form action="/seu-github" method="POST">
                    <div class="form-group">
                        <label class="text-light text-center h3 "  for="github">Usuário GitHub</label>
                        <input class="form-control" type="text" name="github" id="github">
                        <input type="submit" class="btn btn-dark btn-lg" value="Buscar">
                      </div>
                </form>
                
            </div>
        </div>
    </div>
</body>
</html>